.container {
  display: flex;
  flex-direction: column;
  min-width: 1121px;
  width: 100%;
  overflow: scroll;
  position: relative;
  border-top: 1px solid #70757a;
  margin-top: 2rem;
}

.resultCount {
  display: flex;
  color: #70757a;
  justify-content: space-between;
  width: 652px;
  line-height: 43px;
}

.resultPage {
  display: flex;
  padding-left: 9.5rem;
  flex-direction: column;
}
