.container {
  min-width: 1121px;
  z-index: 10;
  width: 100%;
}

.mainContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5rem;
}

.formContainer {
  display: flex;
  align-items: center;
}

.controls {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0 2rem;
}

.controls button {
  z-index: 10;
}

.logo {
  padding: 4px 28px 0 24px;
  top: 6px;
}

.logo a {
  overflow: hidden;
  position: relative;
  display: block;
}

.logo img {
  height: 30px;
  aspect-ratio: auto 92 / 30;
  width: 92px;
}
