.rightSection {
  display: flex;
  float: right;
  padding-left: 2rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 48px;
  line-height: normal;
  padding: 0 4px;
  -webkit-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-box-pack: flex-end;
  -webkit-justify-content: flex-end;
  align-items: center;
  justify-content: flex-end;
}

.links {
  font-family: arial, sans-serif;
  line-height: normal;
  display: flex;
  gap: 15px;
  padding-right: 15px;
  font: 13px/27px Roboto,
    RobotoDraft,
    Arial,
    sans-serif;
}

.signIn {
  margin: 0 0.5rem;
  min-width: 96px;
}

.appIcon {
  padding: 0.25rem
}